<div class='container black center'>
   
	<div class='card-panel white center'>
		<h5><b>Facebook</b> </h5>
		<span class='chip blue darken-3 accent-3 white-text'>Currency Heist </span>

		<h5><b>Twitter</b></h5>
		<span class='light-blue chip white-text'>@CURRENCYHEIST</span>

		<h5><b>Instsagram</b></h5>
		<span class='brown chip white-text'>currencyheist</span>

		<h5><b>Soundcloud</b></h5>
		<span class='orange chip white-text'>Currency Heist</span>

		
		<h5><b>Email</b></h5>
		<span class='chip black white-text'>lucasn@currencyheist.com</span>

		<h5><b>Website</b></h5>
		<span class='chip black white-text'>www.currencyheist.com</span>
	</div>
</div>
