
	<div class='container'>
		<div class='card-panel center'>
			<form method='post' action='/login'>
				<label for='username'> Username </label>
				<input id='username' name='username' type='text' class='center' required>
				<br>
				<label for='password'> Password</label>
				<input id='password name='password' type='password' class='center' required>
				<br>
				<button class='btn black'> Submit </bitton>
				<br>
			</form>
		</div>
	</div>
