 <div class="slider">
    <ul class="slides">
      {{#featured}}
      <li>
        <img src="img/{{image_url}}">
        <div class='row caption'> <!-- random image -->
          {{#product}}
          
            <a href='/shop' class='large chip black white-text center left-align'> get <i class="material-icons">shopping_cart</i></a>
          
          {{/product}}
          {{#post}}       
            <a href='/blog' class='large chip black white-text center left-align'> more.. </a>            
           {{/post}}
        </div>
      </li>
      {{/featured}}
    </ul>
  </div>
  <div class='row center card-panel row'>
   
    <div class="row">
       {{#posts}}
        <div class="col s6 m3">
          <div class="card">
            <div class="card-image">
              <img src="img/{{url}}">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p class='truncate'>{{title}}</p>
            </div>
            <div class="card-action">
              <a href="/blog/{{post_id}}" class='chip black white-text'>Read more</a>
            </div>
          </div>
        </div>
        {{/posts}}
      </div>
    
 </div>